.circle {
  height: 300px;
  width: 300px;
  background-color: #0080ff;
  border-radius: 50%;
}

p {
  text-align: center;
  color: #fff;
  font-size: 210px;
}

.Main {
  margin: auto 40%;
}

button {
  height: 50px;
  width: 150px;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  background-color: #008000;
  display: block;
  margin: 40px auto auto 70px;
}